body{
	width:760px;
	margin:40px auto;
	font-family: Helvetica;
}
h1{
	border-bottom:1px solid #dedede;
	margin-bottom:20px;
	padding-bottom:20px;
}
div{
	background-color: white;
	border-bottom:30px;
	margin-bottom:30px;
	padding-bottom:30px;
}

img{
	height: 75%;
	width: 75%;
	display:block;
margin-left:20px;
margin-right:20px;
}