body{
	width:760px;
	margin:40px auto;
	font-family: Helvetica;
	padding-top: 60px;
	padding-right: 30px;
	margin-bottom:30px;
	padding-bottom:30px;
    padding-left: 30px;
	background-color: #dedede;
}
h1{
	border-bottom:1px solid #dedede;
	margin-bottom:20px;
	padding-bottom:20px;
}
h2{
    text-align: center;
    color: #6B6D69;
    border-bottom:1px solid #dedede;
    margin-bottom:20px;
	padding-bottom:20px;
}
div{
	background-color: white;
	border-bottom:30px;
	margin-bottom:30px;
	padding-bottom:30px;
}

img{
	height: 100%;
	width: 100%;
	display:block;
margin-left:30px;
margin-right:30px;
margin-bottom:40px;
padding-bottom:40px;
}