body{
	width:960px;
	margin: auto;
	font-family: Helvetica;
	color: #6B6D69;
	font-size: 18px;
	padding-top: 60px;
	padding-right: 30px;
	margin-bottom: 10px;
	padding-bottom: 10px;
    padding-left: 30px;
	background-color: #FFFFFF;
}
h1{
	border-bottom:1px solid #dedede;
	font-size: 40px;
	margin-bottom:20px;
	padding-bottom:20px;
}
h2{
    text-align: center;
    font-size: 30px;
    color: #6B6D69;
    border-bottom:1px solid #FFFFFF;
    margin-bottom:10px;
	padding-bottom:10px;
}
h5{
	color: #6B6D69;
	font-size: 18px;
}

h6{
	color: #6B6D69;
	font-size: 12px;
}

div{
	background-color: white;
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 05px;
	padding-right: 05px;
	border-bottom:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

img{
	height: 75%;
	width: 75%;
	display: block;
	margin: center;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom:40px;
	padding-bottom:40px;
}