
html, body {
  margin: 20;
  padding: 40;
  height: 100%;
  width: 100%;
  background-color: blue;
  font-family: "Courier";
  font-size: 16px;
  line-height: 1.5em;
  color: #545454;	
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Courier";
    color: #ddccdd;
    font-weight: 600;
    line-height: 1.3em;
}

h1 {
	text-align: center;
	margin-top: 50px;
	color: hotpink;
}

h2 {
    margin-top: 2.3em;
}


.col-wrap{
	overflow: hidden; 
}  



