@charset "UTF-8";
/*CSS document*/

body{
	margin: 0;
	margin-left: 20px;
	margin-top: 20px;
/*	background: #f5ddee;*/
	background-image: url( 'http://www.tate.org.uk/art/images/work/T/T07/T07501_10.jpg');
	justify-content: center;
}

p{
	font-size: 24px;
	font-family: "Seravek";
	display: block;
	text-align: center;
	justify-content: center;
	
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

#myContainer{
	width: 1360;
	height: 300;
}

#myContainer2{
	width: 1360;
	height: 300;
}

.selectorWrapper{
	width: 100%;
	height: 100%;
	margin: 0;
}

.selectorSide {
	width: 50%;
	border: none;
	float: left;
	height: 100vh;
}

/*
divLeft{
  position: absolute;
  width: 100%;
  height: 100%;
}
*/
/* default is that display is block
can do display float to get the text to be on the left of its box*/


/*this hovers and gets a color*/
/*
.selectorSide:hover{
	background: #BD3800;
}
*/

#selectorLeft{
	color: none;
	background: lightgrey;
	/* added */
	width: 50%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*  not as accurate way to set up so best to not do this in this code
	position: relative;
	margin: 0 auto;
*/
/*	100% of size of height 100vh*/
/*	allows the display to go to 100% of the boxes and work if you say add margins etc this is a more accurate way to do this very helpful code below*/

#selectorRight{
	color: #fff;
	background: lightgrey;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:720px){
	.selectorSide{
		width: 100%;
		height:50vh;
	}
}

/*
#selector-left{
	background: green;
}
*/

.selectorText{
	color: aqua;	
}

/*
#selector-right {
	background: yellow;
}*/
