@charset "UTF-8";
/*CSS document*/

body{
	margin: 0;
	margin-left: 20px;
	margin-top: 20px;
/*	background: #f5ddee;*/
/*	background-image: url( 'http://www.tate.org.uk/art/images/work/T/T07/T07501_10.jpg');*/
/*	background-image: url('https://image.freepik.com/free-photo/blue-swimming-pool-rippled-water-detail_1258-710.jpg');*/ 
/*  background-image: url('https://media.giphy.com/media/payqR9r3sE4PS/giphy.gif');*/
	
background-image: url('https://media.giphy.com/media/r2DZ7c7zrY1jO/giphy.gif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
	justify-content: center;
}

p{
	font-size: 24px;
	font-family: "Seravek";
	display: block;
	text-align: center;
	justify-content: center;
	
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
	z-index: 500;
}

h1{
	color: aliceblue;
	font-size: 24px;
	font-family: "Seravek ExtraLight Italic";
	display: block;
	text-align: center;
	justify-content: center;
}

h2{
	color: aliceblue;
	font-size: 18px;
	font-family: "Seravek";
	display: block;
	text-align: center;
	justify-content: center;
	padding: 20px;
}

#myContainersound{
	width: 1360;
	height: 300;
}

#myContainerdraw{
	width: 1360;
	height: 300;
	background-color: 230;
}

headerMark{
	color: aliceblue;
	font-size: 24px;
	font-family: "Seravek";
	width: 1360;
	height: 300;
	display: block;
	text-align: center;
	justify-content: center;
}

buttonMrk{
	padding: 20px;
	margin: 20px;
}
.selectorWrapper{
	width: 100%;
	height: 100%;
	margin: 0;
}

.selectorSide {
	width: 50%;
	border: none;
	float: left;
	height: 100vh;
}

/*
divLeft{
  position: absolute;
  width: 100%;
  height: 100%;
}
*/
/* default is that display is block
can do display float to get the text to be on the left of its box*/


/*this hovers and gets a color*/
/*
.selectorSide:hover{
	background: #BD3800;
}
*/

#selectorLeft{
	color: none;
	background: lightgrey;
	/* added */
	width: 50%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*  not as accurate way to set up so best to not do this in this code
	position: relative;
	margin: 0 auto;
*/
/*	100% of size of height 100vh*/
/*	allows the display to go to 100% of the boxes and work if you say add margins etc this is a more accurate way to do this very helpful code below*/

#selectorRight{
	color: #fff;
	background: lightgrey;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:720px){
	.selectorSide{
		width: 100%;
		height:50vh;
	}
}

/*
#selector-left{
	background: green;
}
*/

.selectorText{
	color: aqua;	
}

/*
#selector-right {
	background: yellow;
}*/
