/* ---------- images on top of each other ---------*/
.wrapper{
  position:relative;  /* top left */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0; 
  margin: 0;
  flex-direction: column;  /* wrapper container needs flex-direction*/
  perspective: 100px;  /* wrapper container needs perspective */
}

/*@media (max-width:768px){*/
/*  .wrapper {*/
/*    width:65%;*/
/*    font-size: 20px;*/
/*  }*/
/*}*/
/*@media (max-width:480px){*/
/*  .wrapper{*/
/*    width:40%;*/
/*    font-size: 16px;*/
/*  }*/
/*}*/

/*@media (max-width:768px){*/
/*  #colName {*/
/*    width:65%;*/
/*    font-size: 20px;*/
/*  }*/
/*}*/
/*@media (max-width:480px){*/
/*   #colName{*/
/*    width:40%;*/
/*    font-size: 16px;*/
/*  }*/
/*}*/

/*@media (max-width:768px){*/
/*  #details{*/
/*    width:65%;*/
/*    font-size: 20px;*/
/*  }*/
/*}*/
/*@media (max-width:480px){*/
/*  #details{*/
/*    width:40%;*/
/*    font-size: 16px;*/
/*  }*/
/*}*/

/*@media (max-width:768px){*/
/*  .choose{*/
/*    width:65%;*/
/*    font-size: 20px;*/
/*  }*/
/*}*/
/*@media (max-width:480px){*/
/*  .choose{*/
/*    width:40%;*/
/*    font-size: 16px;*/
/*  }*/
/*}*/



/*div#content  {*/
/*	font-size: 15px;*/
/*}*/

/*.edit-link a:before {*/
/*    content: "";*/
/*    font-size: 0em;*/
/*}*/

/*.edit-link a.post-edit-link {*/
/*    font-size: 0px;*/
/*    font-weight: normal;*/
/*}*/

/*div.cv-style ul li {*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*}*/


/*h3.pagetitle, h3.pagetitle a{*/
/*	text-transform: uppercase;*/
/*	text-align: center;*/
/*	font-weight: normal;*/
/*}*/



/* -----------adding cover loading page -------------*/


/* -----------name semi transparent and fade out -------------*/

#colName{
    opacity: 0.9;
    position: absolute;
    
    margin-left: auto;
    margin-right: auto;
    
    top: 40vh;
    left: 25vw;
    font-family: "Monoton";
    text-transform: uppercase;
    font-size: 6vw;
    color: #fcd3cc; 
    transform: skewX(45deg);
    z-index: 11;
}

/* -----------adding rotating loading page -------------*/
.toBeFaded {
  display: none;  /* essential for rotation */
	width: 100%;
	/*height: auto;*/
	position: fixed;
	
	padding: 0;
	margin: 0;
	
	pointer-events: none;
	touch-action: none;
}

.move {
   /* width: 25%;*/
  	width:100%;
  	/*display: flex;*/
  	display: block;
}

/*.hide {*/
/*  display: block;*/
/*}*/


#elem0, #elem1, #elem2, #elem3 #elem4{   /*use commas when specifying each, no commas when following path to element*/
	width:100%;
	padding: 0;
	margin: 0;
	z-index: 1;
}

#elem4{
  pointer-events: none;
  touch-action: none;
  touchmove:none;
  touchstart:none;
  mouseover: none;
  mousemove: none;
  /*image-rendering: pixelated;*/
  /*width: 150%;*/
  /*right:-30vw;*/
  /*top: -38vh;*/
  /*position: absolute;*/
  z-index: 1;
}


/* ------select image to go to next page -----*/

a:link {
    font-family: Monoton;
    font-size: 10em;
    /*position: relative;*/
  	/*display: block;*/
  	margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: purple;
    z-index: 100;
}

a:-webkit-any-link {
    /*color: green;*/
    cursor: auto;
    /*text-decoration: none;*/
    /*text-decoration-line: underline;*/
    /*text-decoration-style: initial;*/
    /*text-decoration-color: green;*/
}

#detail5 {
	  /*position: relative;*/
	  	position: fixed;
	  	right: 50%;
	  	
  	max-width:8%;
  	transform: skewX(50deg);
  	z-index: 2;
}

.choose {
  	/*position: relative;*/
  	
  	position:absolute;
  	
  	
  	
  	/*display: block;*/
  	margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

/*#elem5{*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  transition: transform 1.0s ease-out;*/
/*  transform: perspective(50em) skewX(45deg);*/
/*  z-index: 2;*/
/*}*/

/*.largeDrw{*/
/*	position: absolute;*/
/*	position: fixed;*/
/*	z-index: 1;*/
/*	width:100%;*/
/*}*/

/*---moving image details -----*/

#detail1{
	  right: 28vw;   /*need viewport  */
  	top: 55vh;
  	max-width:8%;
  	position: absolute;
  	z-index: 7;
}

#detail2{
	right: 22vw;
  	top: 15vh;
  	max-width:7.5%;
  	position: absolute;
  	z-index: 8;
}

#detail3{
	right: 60vw;
  	width: 10%;
  	max-width:10%;
  	top:67vh;
  	position: absolute;
  /*	margin-left: auto;*/  /*don't go full way across to left with auto on*/
  /*margin-right: auto;*/
  	z-index: 9;
}

#detail4{
	right: 30vw;
  	max-width:8%;
  	position: absolute;
  	top: 25vh;
  	z-index: 10;
}

.noHover{
    pointer-events: none;
}


@media (max-width:768px){
  .wrapper {     /* everything is in wrapper so don't need to add other items */
    width:65%;
    font-size: 20px;
  }
}
@media (max-width:480px){
  .wrapper{
    width:40%;
    font-size: 16px;
  }
}


	
